<main class="main-home">
    <section class="hero">
        <div class="hero__text">
            <h1 class="hero__text__title">Looking for PC parts?</h1>
            <h2 class="hero__text__subtitle">You've come to the right place</h2>
            <div class="hero__buttons">
                <%= link_to "Get Started", new_user_registration_path, class: "hero__cta--1 btn-cta btn" %>
                <%= link_to "Browse", listings_path, class: "hero__cta--1 btn btn-cta--ghost" %>
            </div>
        </section>
    <section class="categories">
        <h2 class="categories__title header-2">Browse by category</h2>
        <div class="card-wrapper">
            <% @categories.each do |category| %>
                <% format_category_image = category.name.downcase.gsub(/ /, "-") %>
                <div class="card", style='background-image: url(<%= asset_path format_category_image %>)'>
                    <span class="card__text"><%= category.name %></span>
                </div>
            <% end %>
        </div>
    </section>
    <section class="brands">
        <h2 class="brands__title header-2">Browse popular brands</h2>
        <div class="card-wrapper">
            <% @brands.each do |brand| %>
                <div class="card--brand">
                    <%= image_tag "#{brand.name.downcase.gsub(/ /, "-")}.png", class: "card__image" %>
                </div>
            <% end %>
        </div>
    </section>
</main>