<div class="form">

  <h2 class="form__header">Profile Details</h2>

  <%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form__field">
    <%= form.label :bio, class: "form__label" %>
    <%= form.text_area :bio, class: "form__input" %>
  </div>

  <div class="field form__field">
    <%= form.label :location, class: "form__label" %>
    <%= form.text_field :location, class: "form__input" %>
  </div>

  <div class="field form__field">
    <%= form.label :postcode, class: "form__label" %>
    <%= form.number_field :postcode, class: "form__input" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "form__submit btn btn-ghost btn-up" %>
  </div>
<% end %>


</div>