<div class="container">

    <%= render "shared/user_panel" %>

    <section class="user-profile">
        <div class="user-profile__sidebar">
            <ul class="user-profile__sidebar__list">
                <li id="my-listings" class="user-profile__sidebar__list__list-item"><span>My Listings</span></li>
                <li id="watchlist" class="user-profile__sidebar__list__list-item"><span>Watchlist</span></li>
                <li id="sold-listings" class="user-profile__sidebar__list__list-item"><span>Sold Listings</span></li>
                <li id="purchases" class="user-profile__sidebar__list__list-item"><span>Purchases</span></li>
                <a href="<%= conversations_path %>" class="user-profile__sidebar__messages-link"><li class="user-profile__sidebar__list__list-item">My Messages</li></a>
            </ul>
        </div>
        <!-- Could be made into partial - listings -->
        <div class="user-profile__content">
            <div class="user-profile__content__my-listings" data-target="my-listings">
                <h3 class="user-profile__content__header">My Listings</h3>
                <div class="card-container">
                    <% @profile.user.listings.each do |listing| %>
                        <% if listing.sold != true %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="user-profile__content__watchlist hidden" data-target="watchlist">
                <h3 class="user-profile__content__header">Watchlist</h3>
                <div class="card-container">
                    <% @profile.listings.each do |listing| %>
                        <% if listing.sold != true %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="user-profile__content__sold hidden" data-target="sold-listings">
                <h3 class="user-profile__content__header">My Sales</h3>
                <div class="card-container">
                    <% @profile.user.listings.each do |listing| %>
                        <% if listing.sold == true %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="user-profile__content__purchases hidden" data-target="purchases">
                <h3 class="user-profile__content__header">My Purchases</h3>
                <div class="card-container">
                    <% @profile.user.purchases.each do |purchase| %>
                        <% if purchase.user_id == @profile.user.id %>
                            <% listing = Listing.find(purchase.listing_id) %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

        </div>
    </section>

</div>

<script>
    const container = document.querySelector('.user-profile__sidebar');
    container.addEventListener('click', (e) => {
        // Prevent hidden class addition if redirecting to inbox
        if (e.target.className == "user-profile__sidebar__messages-link") return
        
        const target = e.target.closest(".user-profile__sidebar__list__list-item").id;
        document.querySelectorAll("[data-target]").forEach(section => section.classList.add("hidden"));
        document.querySelector(`[data-target='${target}']`).classList.remove("hidden");
    });
</script>