<div class="container">

    <%= render "shared/user_panel" %>

    <section class="user-profile">
        <div class="user-profile__sidebar" data-display=<%=@display if @display %>>
            <ul class="user-profile__sidebar__list">
                <li id="my-listings" class="user-profile__sidebar__list__list-item"><span>My Listings</span></li>
                <li id="watchlist" class="user-profile__sidebar__list__list-item"><span>Watchlist</span></li>
                <li id="sold-listings" class="user-profile__sidebar__list__list-item"><span>Sold Listings</span></li>
                <li id="purchases" class="user-profile__sidebar__list__list-item"><span>Purchases</span></li>
                <a href="<%= conversations_path %>" class="user-profile__sidebar__messages-link"><li class="user-profile__sidebar__list__list-item">My Messages</li></a>
                <%= link_to "/users", method: :delete, class: "user-profile__sidebar__delete-account", data: { confirm: "Are you sure?" } do %>
                    <%= content_tag :li, "Delete Account", class: "user-profile__sidebar__list__list-item user-profile__sidebar__list__list-item--delete" %>
                <% end %>
            </ul>
        </div>
        <!-- Could be made into partial - listings -->
        <div class="user-profile__content">
            <div class="user-profile__content__my-listings" data-target="my-listings">
                <h3 class="user-profile__content__header">My Listings</h3>
                <div class="card-container">
                    <% @profile.user.listings.each do |listing| %>
                        <% if !listing.sold %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="user-profile__content__watchlist hidden" data-target="watchlist">
                <h3 class="user-profile__content__header">Watchlist</h3>
                <div class="card-container">
                    <% @profile.listings.each do |listing| %>
                        <% if !listing.sold %>
                            <%= render "shared/listing-card", listing: listing %>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="user-profile__content__sold hidden" data-target="sold-listings">
                <h3 class="user-profile__content__header">My Sales</h3>
                <div class="card-container">
                    <div class="user-profile__cards-wrapper">
                        <% @profile.user.listings.each do |listing| %>
                            <% if listing.sold %>
                                <%= render "shared/listing-card", listing: listing %>
                                <div class="sales">
                                    <p> Purchaser: <%= link_to listing.purchase.user.username, profile_path(listing.purchase.user.profile.id), class: "sales__link" %> </p>
                                    <%= link_to "Send Message", create_conversation_path(sender_id: current_user.id, receiver_id: listing.purchase.user.id), method: :post, class: "sales__button btn btn-up btn-ghost" %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="user-profile__content__purchases hidden" data-target="purchases">
                <h3 class="user-profile__content__header">My Purchases</h3>
                <div class="card-container">
                    <div class="user-profile__cards-wrapper">
                        <% @profile.user.purchases.each do |purchase| %>
                        <% if purchase.user_id == @profile.user.id %>
                            <% listing = Listing.find(purchase.listing_id) %>
                            <%= render "shared/listing-card", listing: listing %>
                            <div class="purchases__buttons">
                                <% if !listing.reviewed %>
                                    <%= link_to "Leave Feedback", new_review_path(:listing_id => listing.id), class: "purchases__button btn btn-up btn-ghost" %>
                                <% else %>
                                    <%= link_to "Update Feedback", edit_review_path(listing.review.id), class: "purchases__button btn btn-up btn-ghost" %>
                                <% end %>                                
                                <%= link_to "Send Message", create_conversation_path(sender_id: current_user.id, receiver_id: listing.user.id), method: :post, class: "purchases__button btn btn-up btn-ghost" %>
                            </div>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>

<%= javascript_pack_tag "profileNav" %>
<%= javascript_pack_tag "sidebarSelect" %>