<%= form_with(model: listing) do |form| %>
  
  <h2 class="form__header">Create Listing</h2>

  <div class="field form__field">
    <%= form.label :title, class: "form__label" %> 
    <%= form.text_field :title, class: "form__input"  %>
  </div>

  <div class="field form__field">
    <%= form.label :description, class: "form__label"  %>
    <%= form.text_area :description, class: "form__text", placeholder: "Comments on previous use, age etc"  %>
  </div>

  <div class="field form__field">
    <%= form.label :price, class: "form__label"  %>
    <%= form.number_field :price, class: "form__number", min: "1", placeholder: "in AUD" %>
  </div>

  <div class="field form__field form__field--row">
    <% conditions.each do |option| %>
      <%= form.label :condition, option.capitalize, class: "form__label--radio"  %>
      <%= form.radio_button :condition, option, class: "form__radio"%>
    <% end %>
  </div>

  <div class="field form__field">
    <%= form.label :category_id, class: "form__label" %>
    <%= form.select :category_id, categories.map {|cat| [cat.name, cat.id]} %>
  </div>

  <div class="field form__field ">
    <%= form.label :brand_id, class: "form__label" %>
    <%= form.select :brand_id, brands.map {|brand| [brand.name, brand.id]} %>
  </div>

  <div class="field form__field ">
    <%= form.label :images, class: "form__label" %>
    <%= form.file_field :images, multiple: true, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <div class="actions"> 
    <%= form.submit "Submit", class: "form__field btn btn-up btn-ghost" %>
  </div>
<% end %>
