<%= form_with(model: listing, html: { class: "form" }) do |form| %>
  
  <h2 class="form__header">Create Listing</h2>

  <div class="field form__field">
    <%= form.label :title, class: "form__label" %> 
    <%= form.text_field :title, class: "form__input"  %>
  </div>

  <div class="field form__field">
    <%= form.label :description, class: "form__label"  %>
    <%= form.text_area :description, class: "form__text", placeholder: "Comments on previous use, age etc"  %>
  </div>

  <div class="field form__field">
    <%= form.label :price, class: "form__label"  %>
    <%= form.number_field :price, class: "form__number", min: "1", placeholder: "in AUD", step: ".05" %>
  </div>

  <div class="field form__field form__field--row">
    <% conditions.each do |option| %>
      <%= form.label :condition, option.capitalize, class: "form__label--radio"  %>
      <%= form.radio_button :condition, option, class: "form__radio"%>
    <% end %>
  </div>

  <div class="field form__field">
    <%= form.label :category_id, class: "form__label" %>
    <%= form.select :category_id, categories.map {|cat| [cat.name, cat.id]} %>
  </div>

  <div class="field form__field ">
    <%= form.label :brand_id, class: "form__label" %>
    <%= form.select :brand_id, brands.map {|brand| [brand.name, brand.id]} %>
  </div>

  <!-- Dimensions -->  

  <h3 class="form__subheader">Dimensions</h3>
  <p class="form__dimensions__info">The following dimensions are required for calculating your listings postage to potential buyers. Please fill these fields out carefully.</p>

  <div class="form__dimensions">
    <div class="field form__field">
      <%= form.label :length, class: "form__label--small"  %>
      <%= form.number_field :length, class: "form__number", min: "1", max: "300", placeholder: "in cm" %>
    </div>
  
    <div class="field form__field">
      <%= form.label :height, class: "form__label--small"  %>
      <%= form.number_field :height, class: "form__number", min: "1", max: "300", placeholder: "in cm" %>
    </div>
  
    <div class="field form__field">
      <%= form.label :width, class: "form__label--small"  %>
      <%= form.number_field :width, class: "form__number", min: "1", max: "300", placeholder: "in cm" %>
    </div>
  
    <div class="field form__field">
      <%= form.label :weight, class: "form__label--small"  %>
      <%= form.number_field :weight, class: "form__number", min: "0.05", max: "150", placeholder: "in kg", step: 0.05 %>
    </div>
  </div>

  <div class="field form__field ">
    <%= form.label :images, class: "form__label" %>
    <%= form.file_field :images, multiple: true, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <div class="actions"> 
    <%= form.submit "Submit", class: "form__field btn btn-up btn-ghost" %>
  </div>
<% end %>
