<div class="container">

  <div class="listings-panel">
    <span class="listings-panel__total">
      <%= @listings.count %> listings
    </span>
    <input type="text" class="listings-panel__search", placeholder="Search">
  </div>
  <section class="card-container">
    <% @listings.each do |listing| %>
      <a href=" <%= listing_path(listing.id) %> " class="card--listing">
        <% if listing.images.attached? %>
          <div class="card--listing__image-wrapper">
            <%= image_tag listing.images[0], class: "card--listing__image" %>
          </div>
        <% else %>
          <div class="card--listing__image-wrapper">
            <%= image_tag "profile-default.png", class: "card--listing__image" %>
          </div>
        <% end %>
        <span class="card--listing__time">
          <%= time_ago_in_words(listing.created_at) %> ago
        </span>
        <span class="card--listing__brand">
          <%= listing.brand.name.upcase %>
        </span>
        <span class="card--listing__title">
          <%= format_title(listing.title) %>
        </span>
        <span class="card--listing__price">
          $<%= listing.price %>
        </span>
      </a>
    <% end %>
  </section>
</div>