<%= puts "---------- Start of show #{current_user.profile.id}" %>

<main class="listing-show">
  <div class="listing-show__return-links">
    <%= link_to "All Listings", listings_path, class: "listing-show__return-links__link" %>
    <span class="listing-show__return-links__spacer">></span>
    <%= link_to @listing.category.name, listings_path, class: "listing-show__return-links__link" %>
    <span class="listing-show__return-links__spacer">></span>
    <span class="listing-show__return-links__current"><%= @listing.title %></span>
  </div>
  
  <section class="listing-show__wrapper">

    <div class="listing-show__images">
      <% if @listing.images.attached? %>
        <%= image_tag @listing.images[0], class: "listing-show__images__main"%>
        <div class="listing-show__images__thumbnail-container">
          <% (1...@listing.images.count).each do |image| %>
            <%= image_tag @listing.images[image], class: "listing-show__images__thumbnail" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="listing-show__details">
      <h2 class="listing-show__title">
        <%= @listing.title %>
      </h2>
      <h3 class="listing-show__brand">
        <%= @listing.brand.name %>
      </h3>
      <p class="listing-show__description">
        <span>Description:</span> <%= @listing.description %>
      </p>
      <span class="listing-show__condition">
        <span>Condition:</span> <%= @listing.condition %>
      </span>
      <span class="listing-show__price">
        $<%= @listing.price %>
      </span>
      <% if current_user && current_user.id != @listing.user.id %>
        <span class="listing-show__watchlist">
          Add to <%= link_to "Watchlist", listings_path %>
        </span>
      <% end %>
      <% if user_signed_in? && current_user.id != @listing.user.id %>
        <button class="listing-show__purchase btn btn-ghost btn-up">Purchase</button>
      <% end %>
      <button class="listing-show__message btn btn-up btn-ghost">Message</button>
      <div class="listing-show__user-details">
        <span class="listing-show__user-details__name">
          <%= @listing.user.username %>
        </span>
        <span class="listing-show__user-details__listing-total">
          <%= user_listing_count(@listing.user) %>
        </span>
      </div>
      <div class="listing-show__user-buttons">
        <% if user_signed_in? && @listing.user_id == current_user.id %>
          <%= link_to "Edit", edit_listing_path(@listing.id), class: "listing-show__user-buttons--edit btn btn-up btn-ghost" %>
          <%= link_to "Delete", delete_listing_path(@listing.id), method: :delete, class: "listing-show__user-buttons--delete btn btn-up btn-ghost" %>
        <% end %>
      </div>
    </div>

  </section>
</main>