<!-- Return links -->
<div class="container">
  <main class="listing-show">
    <div class="listing-show__return-links">
      <%= link_to "All Listings", listings_path, class: "listing-show__return-links__link" %>
      <span class="listing-show__return-links__spacer">></span>
      <%= link_to @listing.category.name, "#{filter_listings_path}?filtered%5Bcategory_id%5D=#{@listing.category.id}", class: "listing-show__return-links__link" %>
      <span class="listing-show__return-links__spacer">></span>
      <span class="listing-show__return-links__current"><%= @listing.title %></span>
    </div>
    
    <section class="listing-show__wrapper">
  
      <!-- Listing Images -->
      <div class="listing-show__images">
        <% if @listing.images.attached? %>
          <div class="listing-show__images__main__wrapper">
            <%= image_tag @listing.images[0], class: "listing-show__images__main"%>
          </div>
          <div class="listing-show__images__thumbnail-container">
            <% (0...@listing.images.count).each do |image| %>
              <%= image_tag @listing.images[image], class: "listing-show__images__thumbnail" %>
            <% end %>
          </div>
        <% else %>
        <%= image_tag "profile-default.png", class: "listing-show__images__main"%>
        <% end %>
      </div>
  
      <!-- Listing Text Details -->
      <div class="listing-show__details">
        <h2 class="listing-show__title">
          <%= @listing.title %>
        </h2>
        <h3 class="listing-show__brand">
          <%= @listing.brand.name %>
        </h3>
        <p class="listing-show__description">
          <span>Description:</span> <%= @listing.description %>
        </p>
        <span class="listing-show__condition">
          <span>Condition:</span> <%= @listing.condition %>
        </span>
        <span class="listing-show__price">
          <%= render_price(@listing.sold, cents_to_dollars(@listing.price)) %>
        </span>
        <% if @postage_cost %>
          <span class="listing-show__postage-cost">
            <%= "+ $#{cents_to_dollars(@postage_cost)} postage cost" %>
          </span>
        <% end %>
  
        <!-- Watchlist -->
        <% if current_user && current_user.id != @listing.user.id && !@listing.sold %>
          <% if !current_user.profile.listings.include?(@listing) %>
            <span class="listing-show__watchlist">
              Add to <%= link_to "Watchlist", create_watch_path(watch: { listing_id: @listing.id, profile_id: current_user.profile.id}), method: :post %>
            </span>
          <% else %>
            <span class="listing-show__watchlist">
              Remove from <%= link_to "Watchlist", delete_watch_path(current_user.profile.watches.where("listing_id": @listing.id)[0].id), method: :delete %>
            </span>
          <% end %>
        <% end %>
  
        <!-- Postage costs -->
        <% if current_user && current_user.id != @listing.user.id && !@listing.sold %>
          <div class="listing-show__postage-options">
            <%= render "shared/postage-select", listing: @listing, postage_options: @postage_options %>
          </div>
          <div id="postage-selected" data-postage="<%=@postage_cost%>"></div>
        <% end %>
  
        <!-- Buy and Message -->
        <% if user_signed_in? && current_user.id != @listing.user.id && !@listing.sold %>
          <button data-stripe="payment" data-pubKey="<%=Rails.application.credentials.dig(:stripe, :public_key)%>" data-sessionId="<%=@session_id%>" data-postage="<%=@postage_cost%>" class="listing-show__purchase btn btn-ghost btn-up">Purchase</button>
          <%= link_to "Message", create_conversation_path(sender_id: current_user.id, receiver_id: @listing.user.id), method: :post, class: "listing-show__message btn btn-up btn-ghost" %>
        <% end %>
  
        <!-- Seller Details -->
        <div class="listing-show__user-details">
          <span class="listing-show__user-details__name">
            <%= link_to @listing.user.username, profile_path(@listing.user.profile.id) %>
          </span>
          <span class="listing-show__user-details__listing-total">
            <%= listing_count(@listing.user.listings) %>
          </span>
        </div>
  
        <!-- Update/Delete if authorised -->
        <div class="listing-show__user-buttons">
          <% if user_signed_in? && @listing.user_id == current_user.id && @listing.sold != true %>
            <%= link_to "Edit", edit_listing_path(@listing.id), class: "listing-show__user-buttons--edit btn btn-up btn-ghost" %>
            <%= link_to "Delete", delete_listing_path(@listing.id), method: :delete, class: "listing-show__user-buttons--delete btn btn-up btn-ghost" %>
          <% end %>
        </div>
      </div>
    </section>
  </main>
</div>

<!-- Stripe session -->

<%= javascript_include_tag "https://js.stripe.com/v3/" %>

<%= javascript_pack_tag "stripe" %>

<%= javascript_pack_tag "imageToggle" %>

<%= javascript_pack_tag "updatePostageOption" %>