<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @listing.sold %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @listing.brand_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
