<h3 class="filter__header">Filter Results</h3>

<%= form_with url: "/listings/filter", method: :get do |form| %>
  <div class="field form__field">
    <%= form.label :category_id, class: "form__label" %>
    <%= form.select "filtered[category_id]", @categories.map {|cat| [cat.name, cat.id]}, {include_blank: true} %>
  </div>

  <div class="field form__field ">
    <%= form.label :brand_id, class: "form__label" %>
    <%= form.select "filtered[brand_id]", @brands.map {|brand| [brand.name, brand.id]},{include_blank: true}  %>
  </div>

  <div class="actions"> 
    <%= form.submit "Filter", class: "btn btn-up btn-ghost" %>
    <%= link_to "Reset", listings_path, class: "btn btn-up btn-ghost filter__reset" %>
  </div>
<% end %>
