<!-- Place distance from current user on each card as data attr -->
<% if user_signed_in? %>
  <% listing_lat = listing.user.latitude %>
  <% listing_long = listing.user.longitude %>
  <% distance = current_user.distance_to([listing_lat, listing_long]) %>
<% end %>

<a href="<%= listing_path(listing.id) %>" class="card--listing" data-distance="<%= distance %>" data-price="<%= (listing.price) / 100 %>"
    data-condition="<%= listing.condition %>" data-created="<%=listing.created_at.to_i%>"
    data-brand="<%=listing.brand.id%>" data-category="<%=listing.category.id%>"
  >
    <% if listing.images.attached? %>
      <div class="card--listing__image-wrapper">
        <%= image_tag listing.images[0], class: "card--listing__image" %>
      </div>
    <% else %>
      <div class="card--listing__image-wrapper">
        <%= image_tag "profile-default.png", class: "card--listing__image" %>
      </div>
    <% end %>
    <span class="card--listing__time">
      <%= time_ago_in_words(listing.created_at) %> ago
    </span>
    <span class="card--listing__brand">
      <%= listing.brand.name.upcase %>
    </span>
    <span class="card--listing__title">
      <%= format_title(listing.title) %>
    </span>
    <span class="card--listing__price">
      $<%= cents_to_dollars(listing.price) %>
    </span>
    <!-- Add watched icon if in current_user watchlist -->
    <% if current_user && current_user.profile.listings.include?(listing) %>
      <div class="card--listing__watched"></div>
    <% end %>
</a>