<% listing_lat = listing.user.profile.latitude %>
<% listing_long = listing.user.profile.longitude %>

<% distance = current_user.profile.distance_to([listing_lat, listing_long]) %>

<a href="<%= listing_path(listing.id) %>" class="card--listing" data-distance="<%= distance %>">
    <% if listing.images.attached? %>
      <div class="card--listing__image-wrapper">
        <%= image_tag listing.images[0], class: "card--listing__image" %>
      </div>
    <% else %>
      <div class="card--listing__image-wrapper">
        <%= image_tag "profile-default.png", class: "card--listing__image" %>
      </div>
    <% end %>
    <span class="card--listing__time">
      <%= time_ago_in_words(listing.created_at) %> ago
    </span>
    <span class="card--listing__brand">
      <%= listing.brand.name.upcase %>
    </span>
    <span class="card--listing__title">
      <%= format_title(listing.title) %>
    </span>
    <span class="card--listing__price">
      $<%= listing.price %>
    </span>
</a>