<% provide(:title, "Register") %>

<div class="container">
  <div class="form">

    <h2 class="form__header">Register</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form__field">
        <%= f.label :email, class: "form__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
      </div>

      <div class="field form__field">
        <%= f.label :username, class: "form__label" %> <span style="font-style: italic;">(5 to 25 characters)</span>
        <%= f.text_field :username, class: "form__input", placeholder: "Only alphabet, numeric and underscore characters allowed" %>
      </div>

      <div class="field form__field">
        <%= f.label :location_id, class: "form__label" %>
        <%= f.select :location_id, @locations.map {|location| ["#{location.city}, #{location.state} #{location.postcode}", location.id]} %>
      </div>

      <div class="field form__field">
        <%= f.label :password, class: "form__label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form__input" %>
      </div>

      <div class="field form__field">
        <%= f.label :password_confirmation, class: "form__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "form__submit btn btn-ghost btn-up" %>
      </div>
    <% end %>

    <div class="form__login-redirect">
      <p>Already have an account? <%= link_to "Login", new_user_session_path, class: "form__login-redirect__link" %></p>
    </div>
  </div>
</div>
